<button (click)="loadModal()"> Click to load Modal </button>
<div id="confirm" class="modal fade">
    <div class="modal-dialog confirm">
        <div class="modal-content">
            <div class="modal-body"> This operation will delete the URL and the shortenUrl. <br/>Do you want to continue? </div>
            <div class="modal-footer confirm-footer"> <button data-dismiss="modal" type="button" data-dismiss="modal" class="btn deleteBtn" id="delete"
                  (click)="deleteURL(id)">Delete</button> <button data-dismiss="modal" type="button" data-dismiss="modal"
                  class="btn customBtn">Cancel</button> </div>
        </div>
    </div>
</div>
